rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Check if the user is an admin
    function isAdmin() {
      return isAuthenticated() && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Users can read/write their own profile. Admins can read/write all.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read, write: if isAdmin();
    }
    
    // Carts can be read and written by the owner
    match /carts/{cartId} {
      allow read, write: if request.auth != null && request.auth.uid == cartId;
    }
    
    // Products and Categories are public to read, but only admin can write.
    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // Banners are public to read, but only admin can write
    match /banners/{bannerId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // Orders can be created by authenticated users, but read only by the owner or admin.
    match /orders/{orderId} {
      allow create: if isAuthenticated() && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if (isAuthenticated() && resource.data.userId == request.auth.uid) || isAdmin();
    }
    
    // Site settings
    match /siteSettings/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
